.p-inputtext {
  border: 1px solid #d1d5db !important;
  padding: 0.75rem;
  border-radius: 0;
}

.p-button {
  color: #64748b;
  border-color: transparent;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}

.p-button.p-button-secondary.p-button-text:not(:disabled):hover,
.p-button-group.p-button-secondary
  > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-text:not(:disabled):hover,
.p-fileupload-choose.p-button-secondary.p-button-text:not(:disabled):hover {
  background: rgba(100, 116, 139, 0.04);
  border-color: transparent;
  color: #64748b;
}
